<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title" *ngIf="formMode =='new'">Novo Evento</h4>
  <h4 class="modal-title" id="modal-basic-title" *ngIf="formMode =='edit'">Editar Evento</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">Título</label>
      <input class="form-control" [(ngModel)]="event.title" type="text" name="title" (ngModelChange)="event.title = $event">
    </div>
    <div class="form-group">
      <label class="example-input-wrapper">
        Data e Horário de início:
        <input placeholder="Data e Hora" [(ngModel)]="event.start" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="dt"
          class="form-control">
        <owl-date-time #dt name="dt"></owl-date-time>
      </label>

    </div>

    <div class="form-group">
      <label class="example-input-wrapper">
        Data e Horário de Término :
        <input placeholder="Data e Hora" [(ngModel)]="event.end" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2"
          class="form-control">
        <owl-date-time #dt2 name="dt2"></owl-date-time>
      </label>
    </div>
    <label class="col-form-label">Status</label>
    <select class="form-control" [(ngModel)]="event.status" name="status" placeholder="select" (ngModelChange)="onOptionsSelected()">
      <option *ngFor="let sta of status" [ngValue]="sta">{{sta}}</option>
    </select>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cancel()" data-dismiss="modal">Cancelar</button>
  <button type="button" class="btn btn-info" (click)="save()" data-dismiss="modal">Salvar</button>
</div>