<h1>My calendar Component Teste</h1>
<pre>Display event : {{events | json}}</pre>

<button (click)="addEvent()">adicionar</button>
<button (click)="updateEvent(3)">Editar</button>
<button (click)="destroyEvent(1)">Excluir</button>
<button (click)="getEvent(2)">Get by id</button>

<div class="container">
  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>
</div>



