<div class="container-fluid">
    <section class="row">
        <div class="col-md-8">
            <h1>Agenda</h1>
        </div>
        <div class="col-md-4">
            <div class="btn-group float-right mt-2" role="group">
                <button class="btn btn-success"  (click)="newtest()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
            </div>
        </div>
    </section>
</div>

  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent2($event.detail)"
      (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
  </div>