<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">Título</label>
      <input class="form-control" [(ngModel)]="event.event.title" type="text" name="title" disabled>
    </div>
    <div class="form-group">
      <label class="col-form-label">Data e Horário de início</label>
      <input class="form-control" [(ngModel)]="event.event.start" type="text" name="start" disabled>
    </div>
    <div class="form-group">
      <label class="col-form-label">Data e Horário do Fim</label>
      <input class="form-control" [(ngModel)]="event.event.end" type="text" name="end" disabled>
    </div>

    <div class="form-group">
      <label class="col-form-label">Status</label>
      <input class="form-control" [(ngModel)]="event.event.status" type="text" name="color" [ngStyle]="{'background-color': event.event.color}" disabled>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('close')" type="submit" class="btn btn-info w-100">Ok</button>
</div>