<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="col-form-label">Título</label>
      <input class="form-control" [(ngModel)]="event.event.title" type="text" name="title" disabled>
    </div>
    <div class="form-group">
      <label class="example-input-wrapper">
        Data e Horário de início:
        <input placeholder="Date Time:" [(ngModel)]="event.event.start" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
          name="dt" class="form-control" disabled>
        <owl-date-time #dt name="dt"></owl-date-time>
      </label>

    </div>

    <div class="form-group">
      <label class="example-input-wrapper">
        Data e Horário de Término :
        <input placeholder="Date Time:" [(ngModel)]="event.event.end" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
          name="dt2" class="form-control" disabled>
        <owl-date-time #dt2 name="dt2"></owl-date-time>
      </label>

    </div>
    <div class="form-group">
      <label class="col-form-label">Status</label>
      <input class="form-control" [(ngModel)]="event.event.status" type="text" name="color" [ngStyle]="{'background-color': event.event.color}"
        disabled>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="close()" type="button" class="btn btn-info w-100">Ok</button>
</div>